<!doctype html>
<html> 
<head>
<title> html tags</title>
</head>
<body> <pre>
<h1><strong>MY NAME IS SALMAN KHAN</strong></h1>
<p> Am from  Proddatur</p>
<u>studied at kadapa</u>
<i>i have completed my graduation</i>
<p>B.TECH IN MECHANICAL ENGINEERING</p>
<small> Graduation with 70%</small>
<address>i have completed my diploma</address>
<p>DIPLOMA IN MECHANICAL ENGINEERING</p>
<q>Diploma with 75%</q>
<mark>Training in TVS BIKES</mark>
<del>project done in diploma</del>
<ins>auto converstional kit</ins>
<p>project done in B.TECH</p>
<font size = 5>Solar based grass cutter</font>
<font colour = "blue">i have experirence in automobile filed
</font>

</pre>


</body>

</html>